html {
  background-color: black;
  color: yellow;
}

body {
  text-align: center;
}

input {
  width: 2em;
}

textarea {
  background-color: transparent;
  color: inherit;
  width: 90vw;
  height: 80vh;
}
